// Fonts
$body-font: 'Merriweather';
$headline-font: 'brandon-grotesque';

// Colors
$primary-color: #315576;
$primary-dark-color: #2a4864;
$secondary-color: #5dc980;
$grey-color: #d3d3d3;
$grey-light-color: #f8f8f8;
$grey-medium-color: #aeaeae;
$grey-dark-color: #606060;
$grey-faded-color: #f1f1f1;

// Helpers
$transition-speed: 0.3s;
